workflows/2025/01/eLwASrOSfO6Zl5Yi.json
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Monday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-22T18:34:01.139Z",
  "id": "eLwASrOSfO6Zl5Yi",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "OPS/Atendimento",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai-labs.startse.com/api/v1/prediction/2d938b6c-2748-49c6-aecf-30c8605d5d6d",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"question\": \"Oi, aqui é o {{ $json.name }}\",\n    \"overrideConfig\": {\n        \"sessionId\": \"55{{ $json.column_values[1].text }}\",\n        \"returnSourceDocuments\": true\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        -280
      ],
      "id": "005afe5b-f7d8-4983-b8c7-e173465e2821",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DD8096218395056E6C5DE26AC33667E/token/6ADC16BC2F7B12C2ED3C8BED/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "F882f425f5d0f44e39a7d9cf532bd8fffS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=55{{ $('Monday').item.json.column_values[1].text }}"
            },
            {
              "name": "message",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        -280
      ],
      "id": "3873dd3d-97a6-46a5-8e6d-813882472340",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getAll",
        "boardId": "8302102148",
        "groupId": "topics"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        560,
        -280
      ],
      "id": "2ce49bdb-bee3-4a12-9e7c-a96d67911655",
      "name": "Monday",
      "credentials": {
        "mondayComApi": {
          "id": "A8Ka5fKvSl8vinCY",
          "name": "Thiago Pereira"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        380,
        -280
      ],
      "id": "4a356cfa-5264-4966-9c08-2811242d8499",
      "name": "Workflow Input Trigger"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-28T14:02:23.000Z",
  "versionId": "bba3a332-8149-4533-b1ff-6f59a3fc5f38"
}