workflows/2025/02/cW4M31LFxHQbBpl2.json
{
  "active": true,
  "connections": {
    "Supabase": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-04T17:15:52.137Z",
  "id": "cW4M31LFxHQbBpl2",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[dev] - Banco de Dados | Get Documents from DB - Supabase",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "documents",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "hash",
              "condition": "eq",
              "keyValue": "={{ $json.body.hash }}"
            },
            {
              "keyName": "agent_flow",
              "condition": "eq",
              "keyValue": "={{ $json.body.agent_flow }}"
            }
          ]
        }
      },
      "id": "8896963e-4ee9-4141-9bab-40416ef601ca",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        540,
        780
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "5ZmsFQKTpNKGDfUq",
          "name": "[dev] Supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "651682d5-2794-4974-8334-45bc01a526b0",
              "name": "output",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "018edb50-56cf-43bf-b378-5e1c3073e8ab",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        900
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "max",
              "field": "version"
            }
          ]
        },
        "fieldsToSplitBy": "checklist_result, id",
        "options": {
          "outputFormat": "separateItems"
        }
      },
      "id": "c094237f-d8b3-4421-a0b5-25a02e808338",
      "name": "Summarize1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        980,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "62532cb4-d5d1-4e9c-bff4-2df5504035f4",
              "leftValue": "={{ $('Webhook1').item.json.body.hash }}",
              "rightValue": "={{ $json.hash }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f149e022-b05e-4d4d-adc7-38c1e140a2a0",
              "leftValue": "={{ $('Webhook1').item.json.body.agent_flow }}",
              "rightValue": "={{ $json.agent_flow }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d725d002-64de-4890-98f6-661a6684290a",
              "leftValue": "={{$json.checklist_result}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "f595616a-9b47-4b90-b7e9-3fe2bcad3c59",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        780
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c616f2ce-0d2f-41cc-893f-399a85ca85cd",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1180,
        700
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "getDataFromSupabaseDev",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0574a5a2-01ed-4fc5-b16a-85ec25211093",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        400,
        780
      ],
      "webhookId": "c17c0932-0fa1-4221-aa05-f743becdb595"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-29T13:40:47.488Z",
      "updatedAt": "2024-10-29T13:40:47.488Z",
      "id": "FViUlsSlXzSMnZ07",
      "name": "SUPABASE"
    },
    {
      "createdAt": "2024-12-16T16:09:23.335Z",
      "updatedAt": "2024-12-16T16:09:23.335Z",
      "id": "j7cIL2iafnMl9zM7",
      "name": "Dev"
    },
    {
      "createdAt": "2025-02-05T19:30:14.324Z",
      "updatedAt": "2025-02-05T19:30:14.324Z",
      "id": "b4EXbYR7C8wiST8C",
      "name": "DB"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-05T19:38:15.302Z",
  "versionId": "b5d07e6d-a4d0-40e6-a63f-54c0077c13b9"
}