workflows/2025/02/F6RRmOeJWcCLhYhW.json
{
  "active": true,
  "connections": {
    "RenameChatTitle": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "RenameChatTitle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-04T14:42:37.491Z",
  "id": "F6RRmOeJWcCLhYhW",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[dev] - Banco de Dados | Update Chat Name",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "b4cd2942-c1e7-4cf4-ac1f-6d3814703ef2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1180,
        120
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "chats",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.chatId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_name",
              "fieldValue": "={{ $json.body.chatName }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "id": "39fc33cc-4aef-420f-a4ef-bd137cb87d0e",
      "name": "RenameChatTitle",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "5ZmsFQKTpNKGDfUq",
          "name": "[dev] Supabase"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sendUpdateChatRequestDev",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "23424c2b-2676-4b4e-abef-cd65ec3db4e2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        760,
        120
      ],
      "webhookId": "28981fe0-1b4c-40b1-993d-9a363eb41c9d"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-29T13:40:47.488Z",
      "updatedAt": "2024-10-29T13:40:47.488Z",
      "id": "FViUlsSlXzSMnZ07",
      "name": "SUPABASE"
    },
    {
      "createdAt": "2024-12-16T16:09:23.335Z",
      "updatedAt": "2024-12-16T16:09:23.335Z",
      "id": "j7cIL2iafnMl9zM7",
      "name": "Dev"
    },
    {
      "createdAt": "2025-02-05T19:30:14.324Z",
      "updatedAt": "2025-02-05T19:30:14.324Z",
      "id": "b4EXbYR7C8wiST8C",
      "name": "DB"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-05T19:36:34.901Z",
  "versionId": "cae7b875-126d-4db9-a21c-0e8beb3e4dd4"
}