workflows/2025/02/HoA8VtAZeYWeojAq.json
{
  "active": true,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User ID": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-13T15:24:10.627Z",
  "id": "HoA8VtAZeYWeojAq",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[prod] - Banco de Dados | Get Chat ID For History",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "c2e48d17-5649-481b-b50c-d549033c8972",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1220,
        120
      ]
    },
    {
      "parameters": {
        "url": "https://kfsbysglomslqkakspfj.supabase.co/rest/v1/chats",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "agent_flow",
              "value": "=eq.{{ $('Webhook').item.json.body.flow }}"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "user_id",
              "value": "=eq.{{ $json.userID }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtmc2J5c2dsb21zbHFrYWtzcGZqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczMTA4NTM0NCwiZXhwIjoyMDQ2NjYxMzQ0fQ.mPoyHkH8MRr2r5H5cSRMrhXe4CG4sEvpjhtLjfA9BOA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtmc2J5c2dsb21zbHFrYWtzcGZqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczMTA4NTM0NCwiZXhwIjoyMDQ2NjYxMzQ0fQ.mPoyHkH8MRr2r5H5cSRMrhXe4CG4sEvpjhtLjfA9BOA"
            }
          ]
        },
        "options": {}
      },
      "id": "07aef767-dae1-4571-85c3-2e582a347aef",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        120
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetchChatIdsForFlow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "44d4e762-611f-4bd3-be97-320d802d105b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        580,
        120
      ],
      "webhookId": "dbcdb590-4924-4241-a031-366f485e0565"
    },
    {
      "parameters": {
        "jsCode": "function getUserId(token) {\n  const parts = token.split('.');\n\n  if (parts.length !== 3) {\n    throw new Error('Invalid JWT Token');\n  }\n\n  const payload = parts[1];\n  const decodedPayload = JSON.parse(Buffer.from(payload, 'base64').toString('utf8'));\n\n  if (!decodedPayload.sub) {\n    throw new Error('No ID field (sub) in token');\n  }\n\n  return decodedPayload.sub;\n}\n\nconst bearerToken = $('Webhook').first().json.headers.authorization;\nconst jwtToken = bearerToken.replace('Bearer ', '');\n\nlet userID = \"\";\n\ntry {\n  userID = getUserId(jwtToken);\n} catch (error) {\n  userID = \"\";\n}\n\nreturn [ {userID}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        120
      ],
      "id": "1f74e3b2-d85e-40d0-b038-006db91bd043",
      "name": "Get User ID"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-29T13:40:47.488Z",
      "updatedAt": "2024-10-29T13:40:47.488Z",
      "id": "FViUlsSlXzSMnZ07",
      "name": "SUPABASE"
    },
    {
      "createdAt": "2025-02-04T12:57:49.230Z",
      "updatedAt": "2025-02-04T12:57:49.230Z",
      "id": "wtZEmNqNNLEIK7tp",
      "name": "SUPABASE - Manual"
    },
    {
      "createdAt": "2025-02-05T19:30:14.324Z",
      "updatedAt": "2025-02-05T19:30:14.324Z",
      "id": "b4EXbYR7C8wiST8C",
      "name": "DB"
    },
    {
      "createdAt": "2024-12-16T15:50:17.549Z",
      "updatedAt": "2024-12-16T15:50:17.549Z",
      "id": "90BsZzaKRkurBY1q",
      "name": "Prod"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-13T15:32:37.849Z",
  "versionId": "7f1ce742-4451-427c-8447-dceea951a825"
}