workflows/2025/02/o0TcD3A1YE2Rzt5S.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check JWT Expiration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check JWT Expiration": {
      "main": [
        [
          {
            "node": "If token still valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If token still valid": {
      "main": [
        [
          {
            "node": "Responde - Token v치lido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responde - Token inv치lido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-05T14:02:03.717Z",
  "id": "o0TcD3A1YE2Rzt5S",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[dev] - Login | Validate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/v2/validateDev",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "14a323cd-9b19-4a7e-87c4-afb72bdf9a86",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        560,
        320
      ],
      "webhookId": "70fbd710-25f4-4a1c-b6d4-a6133e0293b2"
    },
    {
      "parameters": {
        "jsCode": "function isTokenExpired(token) {\n  const parts = token.split('.');\n\n  if (parts.length !== 3) {\n    throw new Error('Invalid JWT Token');\n  }\n\n  const payload = parts[1];\n  const decodedPayload = JSON.parse(Buffer.from(payload, 'base64').toString('utf8'));\n\n  if (!decodedPayload.exp) {\n    throw new Error('No expiration field (exp) in token');\n  }\n\n  const expirationTimeMilliseconds = decodedPayload.exp * 1000;\n  const currentTimeMilliseconds = Date.now();\n\n  return currentTimeMilliseconds > expirationTimeMilliseconds;\n}\n\nconst jwtToken = $('Webhook').first().json.body.token;\n\nlet isTokenValid = false\n\ntry {\n  if (isTokenExpired(jwtToken)) {\n    isTokenValid = false;\n  } else {\n    isTokenValid = true;\n  }\n} catch (error) {\n  isTokenValid = false;\n}\n\nreturn [ {isTokenValid}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        320
      ],
      "id": "3388df2d-22db-4ba0-90c9-c8aa649e99f3",
      "name": "Check JWT Expiration"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "03e65bd0-4f32-4f62-911a-6366266e579e",
              "leftValue": "={{ $json.isTokenValid }}",
              "rightValue": "=nvr8qbw9NYW-cdc3fcd",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "350c77ae-72e2-419e-b879-fc7f5d7b7c76",
      "name": "If token still valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1220,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"isValid\": true, \"token\": \"{{ $('Webhook').item.json.body.token }}\" }",
        "options": {}
      },
      "id": "0101df94-732c-4a6a-bfa6-e7b741070682",
      "name": "Responde - Token v치lido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1520,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"isValid\": false }",
        "options": {}
      },
      "id": "7e8bda1e-8c11-44e9-928a-5a24d18d0141",
      "name": "Responde - Token inv치lido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1520,
        420
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-29T13:40:47.488Z",
      "updatedAt": "2024-10-29T13:40:47.488Z",
      "id": "FViUlsSlXzSMnZ07",
      "name": "SUPABASE"
    },
    {
      "createdAt": "2024-12-16T16:09:23.335Z",
      "updatedAt": "2024-12-16T16:09:23.335Z",
      "id": "j7cIL2iafnMl9zM7",
      "name": "Dev"
    },
    {
      "createdAt": "2025-02-04T12:57:49.230Z",
      "updatedAt": "2025-02-04T12:57:49.230Z",
      "id": "wtZEmNqNNLEIK7tp",
      "name": "SUPABASE - Manual"
    },
    {
      "createdAt": "2025-02-05T19:28:59.435Z",
      "updatedAt": "2025-02-05T19:28:59.435Z",
      "id": "EMcRUzq8shICg8uK",
      "name": "Auth/Login"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-05T19:29:00.911Z",
  "versionId": "6585095e-4777-4ad4-a2b0-e41796a5d3af"
}