workflows/2025/02/raK6qOWLyNYwVgh4.json
{
  "active": true,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User ID": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-04T14:28:18.866Z",
  "id": "raK6qOWLyNYwVgh4",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[dev] - Banco de Dados | Get Chat ID For History",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "aa49d02c-9332-449b-8582-fd367a0409fe",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1220,
        120
      ]
    },
    {
      "parameters": {
        "url": "https://virfxvqlitfelwvsamuw.supabase.co/rest/v1/chats",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "agent_flow",
              "value": "=eq.{{ $('Webhook').item.json.body.flow }}"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "user_id",
              "value": "=eq.{{ $json.userID }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpcmZ4dnFsaXRmZWx3dnNhbXV3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcyODMyOTIxNCwiZXhwIjoyMDQzOTA1MjE0fQ.lY1MfXPHo9IbzFlBxMt-RVJ8uqXN9G3rKCVzvSjWUBg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpcmZ4dnFsaXRmZWx3dnNhbXV3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcyODMyOTIxNCwiZXhwIjoyMDQzOTA1MjE0fQ.lY1MfXPHo9IbzFlBxMt-RVJ8uqXN9G3rKCVzvSjWUBg"
            }
          ]
        },
        "options": {}
      },
      "id": "85ca4c5f-fb73-42df-b539-b6946be94d00",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        120
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetchChatIdsForFlowDev",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f3a56e4f-4cb9-4df8-9b2d-4e4f2e4ebf6a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        580,
        120
      ],
      "webhookId": "06cee666-b20c-4b79-a56f-d024f5133acb"
    },
    {
      "parameters": {
        "jsCode": "function getUserId(token) {\n  const parts = token.split('.');\n\n  if (parts.length !== 3) {\n    throw new Error('Invalid JWT Token');\n  }\n\n  const payload = parts[1];\n  const decodedPayload = JSON.parse(Buffer.from(payload, 'base64').toString('utf8'));\n\n  if (!decodedPayload.sub) {\n    throw new Error('No ID field (sub) in token');\n  }\n\n  return decodedPayload.sub;\n}\n\nconst bearerToken = $('Webhook').first().json.headers.authorization;\nconst jwtToken = bearerToken.replace('Bearer ', '');\n\nlet userID = \"\";\n\ntry {\n  userID = getUserId(jwtToken);\n} catch (error) {\n  userID = \"\";\n}\n\nreturn [ {userID}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        120
      ],
      "id": "38a24d78-29fa-412d-bc21-33c129f00089",
      "name": "Get User ID"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-29T13:40:47.488Z",
      "updatedAt": "2024-10-29T13:40:47.488Z",
      "id": "FViUlsSlXzSMnZ07",
      "name": "SUPABASE"
    },
    {
      "createdAt": "2024-12-16T16:09:23.335Z",
      "updatedAt": "2024-12-16T16:09:23.335Z",
      "id": "j7cIL2iafnMl9zM7",
      "name": "Dev"
    },
    {
      "createdAt": "2025-02-04T12:57:49.230Z",
      "updatedAt": "2025-02-04T12:57:49.230Z",
      "id": "wtZEmNqNNLEIK7tp",
      "name": "SUPABASE - Manual"
    },
    {
      "createdAt": "2025-02-05T19:30:14.324Z",
      "updatedAt": "2025-02-05T19:30:14.324Z",
      "id": "b4EXbYR7C8wiST8C",
      "name": "DB"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-13T15:24:29.624Z",
  "versionId": "2362fb59-028c-4d29-804f-eb937286c39e"
}