workflows/2025/02/rqCBPNRNXTEPLg2F.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Variáveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variáveis": {
      "main": [
        [
          {
            "node": "Authenticate on Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticate on Supabase": {
      "main": [
        [
          {
            "node": "Responde - Autenticando",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responde - Dados incorretos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-05T14:03:12.086Z",
  "id": "rqCBPNRNXTEPLg2F",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[dev] - Login | Authenticate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/v2Dev",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "7fc6370e-18a2-4783-82fd-0def6b6a61c4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        560,
        320
      ],
      "webhookId": "9cf49958-b2d9-4b2a-a001-b937b7272639"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"token\": \"{{ $json.access_token }}\" }",
        "options": {}
      },
      "id": "32bf1d96-5e59-4088-9eb1-3c2bb6fc87ed",
      "name": "Responde - Autenticando",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1280,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"success\": false, \"error_code\": \"invalid_credentials\" }",
        "options": {}
      },
      "id": "41ec61d1-2ccd-48ab-a882-51c8af1c6178",
      "name": "Responde - Dados incorretos",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1280,
        440
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ad93264-d39e-415c-816d-5f2ac5d9e8b9",
              "name": "supabaseAccountID",
              "value": "virfxvqlitfelwvsamuw",
              "type": "string"
            },
            {
              "id": "831a4266-ce15-4fe4-b796-5ccc3544f669",
              "name": "supabaseServiceRoleKey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpcmZ4dnFsaXRmZWx3dnNhbXV3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcyODMyOTIxNCwiZXhwIjoyMDQzOTA1MjE0fQ.lY1MfXPHo9IbzFlBxMt-RVJ8uqXN9G3rKCVzvSjWUBg",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4734b705-ed94-484f-b948-bcc163683963",
      "name": "Variáveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        320
      ],
      "notesInFlow": true,
      "notes": "Altere aqui usuário e senha"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Variáveis').item.json.supabaseAccountID }}.supabase.co/auth/v1/token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "password"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.supabaseServiceRoleKey }}"
            },
            {
              "name": "apikey",
              "value": "={{ $json.supabaseServiceRoleKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Webhook').item.json.body.username }}"
            },
            {
              "name": "password",
              "value": "={{ $('Webhook').item.json.body.password }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        320
      ],
      "id": "9e225f29-862e-4dab-a73d-19c8660ff2a9",
      "name": "Authenticate on Supabase",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-29T13:40:47.488Z",
      "updatedAt": "2024-10-29T13:40:47.488Z",
      "id": "FViUlsSlXzSMnZ07",
      "name": "SUPABASE"
    },
    {
      "createdAt": "2024-12-16T16:09:23.335Z",
      "updatedAt": "2024-12-16T16:09:23.335Z",
      "id": "j7cIL2iafnMl9zM7",
      "name": "Dev"
    },
    {
      "createdAt": "2025-02-04T12:57:49.230Z",
      "updatedAt": "2025-02-04T12:57:49.230Z",
      "id": "wtZEmNqNNLEIK7tp",
      "name": "SUPABASE - Manual"
    },
    {
      "createdAt": "2025-02-05T19:28:59.435Z",
      "updatedAt": "2025-02-05T19:28:59.435Z",
      "id": "EMcRUzq8shICg8uK",
      "name": "Auth/Login"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-13T15:20:39.777Z",
  "versionId": "a9eb5db4-9a2d-4887-a5f3-370e7c04fb81"
}