workflows/2025/02/WuhsLkqZ5ByQGIIa.json
{
  "active": true,
  "connections": {
    "FilterData": {
      "main": [
        [
          {
            "node": "InsertData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User ID": {
      "main": [
        [
          {
            "node": "FilterData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-04T14:11:35.908Z",
  "id": "WuhsLkqZ5ByQGIIa",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[dev] - Banco de Dados | Save Data To DB - Supabase",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { ...$('Webhook').item.json.body.data, \"user_id\": $json.userID } }}",
        "options": {}
      },
      "id": "2052264d-5cf1-4869-88a7-6924fb93aba7",
      "name": "FilterData",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        400
      ]
    },
    {
      "parameters": {
        "tableId": "={{ $('Webhook').item.json.body.tableName }}",
        "dataToSend": "autoMapInputData"
      },
      "id": "ee286fd7-1623-4d2b-a255-50bb9052b19e",
      "name": "InsertData",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        780,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5ZmsFQKTpNKGDfUq",
          "name": "[dev] Supabase"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sendDataToSupabaseDev",
        "options": {}
      },
      "id": "3aa6a566-a288-43c0-b858-bf01b0d8c1c4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        400
      ],
      "webhookId": "3a73caf5-49ad-43fe-acf7-36a50f02d1b1"
    },
    {
      "parameters": {
        "jsCode": "function getUserId(token) {\n  const parts = token.split('.');\n\n  if (parts.length !== 3) {\n    throw new Error('Invalid JWT Token');\n  }\n\n  const payload = parts[1];\n  const decodedPayload = JSON.parse(Buffer.from(payload, 'base64').toString('utf8'));\n\n  if (!decodedPayload.sub) {\n    throw new Error('No ID field (sub) in token');\n  }\n\n  return decodedPayload.sub;\n}\n\nconst bearerToken = $('Webhook').first().json.headers.authorization;\nconst jwtToken = bearerToken.replace('Bearer ', '');\n\nlet userID = \"\";\n\ntry {\n  userID = getUserId(jwtToken);\n} catch (error) {\n  userID = \"\";\n}\n\nreturn [ {userID}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        400
      ],
      "id": "1306bc08-c0f9-439a-b0f3-3d8dd71403de",
      "name": "Check User ID"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-29T13:40:47.488Z",
      "updatedAt": "2024-10-29T13:40:47.488Z",
      "id": "FViUlsSlXzSMnZ07",
      "name": "SUPABASE"
    },
    {
      "createdAt": "2024-12-16T16:09:23.335Z",
      "updatedAt": "2024-12-16T16:09:23.335Z",
      "id": "j7cIL2iafnMl9zM7",
      "name": "Dev"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-13T12:57:34.302Z",
  "versionId": "b23f11d5-d5a6-4df1-bb65-08295fbc5ff1"
}