workflows/2025/02/z6OBgXuz5MA6Djq8.json
{
  "active": true,
  "connections": {
    "DeleteChatId": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "DeleteChatId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-04T14:38:18.494Z",
  "id": "z6OBgXuz5MA6Djq8",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[dev] - Banco de Dados | Delete Chat ID From History",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "f0552159-c75d-44ce-842d-aa0d186ca520",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1180,
        120
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "chats",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.chatId }}"
            }
          ]
        }
      },
      "id": "992d843c-2ca7-41b7-8c7b-6324d459970e",
      "name": "DeleteChatId",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "5ZmsFQKTpNKGDfUq",
          "name": "[dev] Supabase"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sendDeleteChatRequestDev",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0808afbb-3cba-4756-a30c-f677ee818bfe",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        760,
        120
      ],
      "webhookId": "748e0080-4c8a-4155-9f32-872920282282"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-29T13:40:47.488Z",
      "updatedAt": "2024-10-29T13:40:47.488Z",
      "id": "FViUlsSlXzSMnZ07",
      "name": "SUPABASE"
    },
    {
      "createdAt": "2024-12-16T16:09:23.335Z",
      "updatedAt": "2024-12-16T16:09:23.335Z",
      "id": "j7cIL2iafnMl9zM7",
      "name": "Dev"
    },
    {
      "createdAt": "2025-02-05T19:30:14.324Z",
      "updatedAt": "2025-02-05T19:30:14.324Z",
      "id": "b4EXbYR7C8wiST8C",
      "name": "DB"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-05T19:36:13.312Z",
  "versionId": "5e9afffc-677d-42c2-b55a-07ee55b14b85"
}