workflows/2024/10/JdSxu82V09AlqfxS.json
{
  "active": true,
  "connections": {
    "Supabase": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-24T18:37:36.586Z",
  "id": "JdSxu82V09AlqfxS",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[prod] - Banco de Dados | Get Documents from DB - Supabase",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "documents",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "hash",
              "condition": "eq",
              "keyValue": "={{ $json.body.hash }}"
            },
            {
              "keyName": "agent_flow",
              "condition": "eq",
              "keyValue": "={{ $json.body.agent_flow }}"
            }
          ]
        }
      },
      "id": "8d7d1f29-1410-4b0a-a9f2-a4f56c644f5d",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        540,
        780
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "xHU6641p7HFQw55Y",
          "name": "[prod] Supabase | On hold"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "651682d5-2794-4974-8334-45bc01a526b0",
              "name": "output",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2ddb3299-b360-4853-b86b-8eac86a02cf5",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        900
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "max",
              "field": "version"
            }
          ]
        },
        "fieldsToSplitBy": "checklist_result, id",
        "options": {
          "outputFormat": "separateItems"
        }
      },
      "id": "4dabc5ba-e5d1-4c3a-895f-ec07f7c313a9",
      "name": "Summarize1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        980,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "62532cb4-d5d1-4e9c-bff4-2df5504035f4",
              "leftValue": "={{ $('Webhook1').item.json.body.hash }}",
              "rightValue": "={{ $json.hash }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f149e022-b05e-4d4d-adc7-38c1e140a2a0",
              "leftValue": "={{ $('Webhook1').item.json.body.agent_flow }}",
              "rightValue": "={{ $json.agent_flow }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d725d002-64de-4890-98f6-661a6684290a",
              "leftValue": "={{$json.checklist_result}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "b20b0e7a-1534-4310-8a50-5dc07070f6fb",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        780
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "120b71c3-a447-424c-b67d-d21a98dc78ef",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1180,
        700
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "getDataFromSupabase",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7fe0d3c1-bda4-4265-b91d-e82f9bc3def6",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        400,
        780
      ],
      "webhookId": "62174594-6ea5-435e-a819-9321171c8ba7"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-29T13:40:47.488Z",
      "updatedAt": "2024-10-29T13:40:47.488Z",
      "id": "FViUlsSlXzSMnZ07",
      "name": "SUPABASE"
    },
    {
      "createdAt": "2024-12-16T15:50:17.549Z",
      "updatedAt": "2024-12-16T15:50:17.549Z",
      "id": "90BsZzaKRkurBY1q",
      "name": "Prod"
    },
    {
      "createdAt": "2025-02-05T19:30:14.324Z",
      "updatedAt": "2025-02-05T19:30:14.324Z",
      "id": "b4EXbYR7C8wiST8C",
      "name": "DB"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-05T19:34:41.873Z",
  "versionId": "1b03ad65-59bc-4049-872d-851891e326b4"
}