workflows/2024/10/MB7auqLoWVSS388s.json
{
  "active": true,
  "connections": {
    "Extract from File1": {
      "main": [
        [
          {
            "node": "NCMFilter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatMessage": {
      "main": [
        [
          {
            "node": "HTML Medidas em Vigor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "structureMessage1": {
      "main": [
        [
          {
            "node": "formatMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XLSX REQUEST1": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "dateFilter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "formatMessage4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formatMessage5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dateFilter": {
      "main": [
        [
          {
            "node": "formatMessage2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCMFilter": {
      "main": [
        [
          {
            "node": "Country and situation filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Country and situation filter": {
      "main": [
        [
          {
            "node": "FormatMessage3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatMessage2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormatMessage3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "formatMessage4": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatMessage5": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Medidas em Vigor": {
      "main": [
        [
          {
            "node": "Obtenção URL do XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtenção URL do XLSX": {
      "main": [
        [
          {
            "node": "XLSX REQUEST1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "structureMessage1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "structureMessage1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-08T19:04:00.264Z",
  "id": "MB7auqLoWVSS388s",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[prod] - Análise crítica | 3 - Defesa Comercial",
  "nodes": [
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "=data",
        "options": {
          "headerRow": false,
          "includeEmptyCells": false,
          "range": "4",
          "sheetName": ""
        }
      },
      "id": "c89b3370-2004-43fc-b140-fa25980cfed2",
      "name": "Extract from File1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        440,
        1300
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d042684-e288-47e4-8362-7867fbcccfe4",
              "name": "NCM",
              "value": "={{$('structureMessage1').item.json['NCM']}}",
              "type": "string"
            },
            {
              "id": "009162b6-503f-4e2a-bf76-a489575b1d4f",
              "name": "País de origem/fabricação",
              "value": "={{$('structureMessage1').item.json['País de origem/fabricação']}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f862b3f2-4f7b-49a0-8ae2-198065f9d70f",
      "name": "formatMessage",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -280,
        900
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const stringJson = JSON.parse($json.body);\n\nconst regex = /origem/i;\n\nfor (const key in stringJson) {\n  if (regex.test(key)) {\n    stringJson['País de origem/fabricação'] = stringJson[key];\n  }\n}\n\nreturn stringJson;"
      },
      "id": "2c7cbe34-deee-4641-a8ff-e24acfbee795",
      "name": "structureMessage1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -440,
        900
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d5559d4a-949f-4199-987a-218f5d37c364",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3320,
        820
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "4123a3a7-7b34-49a5-998b-0e6773397c5a",
      "name": "XLSX REQUEST1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        900
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "=data",
        "options": {
          "headerRow": false,
          "includeEmptyCells": false,
          "range": "",
          "sheetName": ""
        }
      },
      "id": "1d44947b-124b-4557-b0fa-51e3861f2d4e",
      "name": "Extract from File2",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        440,
        360
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "14540fff-5221-404f-bb32-aabda3565f86",
              "leftValue": "={{ $json.content }}",
              "rightValue": "{}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "35b3a426-1918-4b29-a303-95062bbae486",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        1600,
        860
      ]
    },
    {
      "parameters": {
        "mode": "combineBySql"
      },
      "id": "1b93023f-c8f9-4402-b741-920cd9f14fb8",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1260,
        860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dcc6aaa6-8de9-4471-ac8a-9ff9aafa03fa",
              "leftValue": "={{ $json.row[4].toString() }}",
              "rightValue": "ATUALIZADO",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "b9ad6a72-5954-48d2-b69b-2da438bc3663",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "efcd4f3a-0474-46bc-ab0b-416a012feaa5",
      "name": "dateFilter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        680,
        360
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d37e07b6-72e1-4f74-adcc-45e5b3fb8b3f",
              "leftValue": "={{ $json.row[2].replace(/[a-zA-Z\\W_]/g, '').replace(/[.,\\/#!$%\\^&\\*;:{}=\\-_`~()]/g, '') }}",
              "rightValue": "={{ $('formatMessage').item.json.NCM.replace(/[a-zA-Z\\W_]/g, '').replace(/[.,\\/#!$%\\^&\\*;:{}=\\-_`~()]/g, '')}}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "d258d235-c9da-4107-a527-a79c5e6729a0",
      "name": "NCMFilter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        600,
        1300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "86adddf8-4849-4ddd-bb00-13a8c2649fe4",
              "leftValue": "={{$json.row[1]}}",
              "rightValue": "={{$('formatMessage').item.json['País de origem/fabricação']}}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "dcc6aaa6-8de9-4471-ac8a-9ff9aafa03fa",
              "leftValue": "={{$json.row[5]}}",
              "rightValue": "Em vigor",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "e5a9d238-a377-44d8-aaa3-9a9620774c60",
      "name": "Country and situation filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        760,
        1300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69db3073-7b62-4f85-a2bb-5fa3122d6af2",
              "name": "date",
              "value": "={{ $json.row[4].match(/\\d{2}\\/\\d{2}\\/\\d{4}/)[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f1c13437-6c77-4ae5-862e-869b4c6fd068",
      "name": "formatMessage2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69db3073-7b62-4f85-a2bb-5fa3122d6af2",
              "name": "content",
              "value": "={{$json}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1dd9948f-3f0f-42dc-9c07-9a86fa90281c",
      "name": "FormatMessage3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        1300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "177ab562-c6a7-46fd-92d9-59be2ed5238c",
              "name": "=output",
              "value": "=Não identificada defesa comercial em vigor da {{ $('structureMessage1').item.json.NCM }} para o país de origem na data de {{$json.date}}. Verifique atualizações no site oficial do governo.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "id": "db96ebf4-93d4-4d03-9cb0-01de838629ba",
      "name": "formatMessage4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2420,
        420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "177ab562-c6a7-46fd-92d9-59be2ed5238c",
              "name": "=output",
              "value": "=NCM {{ $('structureMessage1').item.json.NCM }} possui defesa comercial em vigor para o país de origem na data de {{$json.date}}. Consulte os detalhes aqui (https://www.gov.br/mdic/pt-br/assuntos/comercio-exterior/defesa-comercial-e-interesse-publico/medidas-em-vigor/medidas-em-vigor).",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f99ce795-c878-4235-8a0c-da5880aea21f",
      "name": "formatMessage5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2440,
        1240
      ]
    },
    {
      "parameters": {
        "url": "https://www.gov.br/mdic/pt-br/assuntos/comercio-exterior/defesa-comercial-e-interesse-publico/medidas-em-vigor/medidas-em-vigor",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        900
      ],
      "id": "81e5b31e-2729-4533-8c2e-b4eea78d0dc2",
      "name": "HTML Medidas em Vigor"
    },
    {
      "parameters": {
        "jsCode": "const htmlData = $input.first().json.data;\n\nconst spreadsheetRegex = /https:\\/\\/www\\.gov\\.br\\/mdic\\/pt-br\\/assuntos\\/comercio-exterior\\/defesa-comercial-e-interesse-publico\\/arquivos\\/medidasemvigor\\d+\\.xlsx/g;\n\nconst spreadsheetUrl = htmlData.match(spreadsheetRegex);\n\nconsole.log(spreadsheetUrl);\n\nreturn {url: spreadsheetUrl?.[0]};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        900
      ],
      "id": "67b87c10-78b4-4f5e-8fa5-f2c5ed8cd422",
      "name": "Obtenção URL do XLSX"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        700
      ],
      "id": "02cf19dd-5575-4d89-ba90-929c664a9896",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "criticalAnalysisThirdStep",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "eeea327a-0a19-4c73-bdd9-d4e2307996f6",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        900
      ],
      "webhookId": "6851b94d-f270-4f93-a553-d5c5c5a19e79"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-12-16T15:50:17.549Z",
      "updatedAt": "2024-12-16T15:50:17.549Z",
      "id": "90BsZzaKRkurBY1q",
      "name": "Prod"
    },
    {
      "createdAt": "2025-02-05T19:24:04.517Z",
      "updatedAt": "2025-02-05T19:24:04.517Z",
      "id": "QjzCPV3nhLBek2xR",
      "name": "Análise Crítica"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-05T19:27:21.852Z",
  "versionId": "c7b2d62b-7e89-4f98-a59c-6621ff56929a"
}