workflows/2024/10/VqFXh28tq0egmvRr.json
{
  "active": false,
  "connections": {
    "FilterData": {
      "main": [
        [
          {
            "node": "InsertData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "FilterData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-18T14:19:29.137Z",
  "id": "VqFXh28tq0egmvRr",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[prod] - Banco de Dados | Save Data To DB - Supabase [Deprecated]",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body.data.toJsonString() }}",
        "options": {}
      },
      "id": "02236907-ceaf-4ca7-b6d1-e8ddd4c5f0d6",
      "name": "FilterData",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        400
      ]
    },
    {
      "parameters": {
        "tableId": "={{ $('Webhook').item.json.body.tableName }}",
        "dataToSend": "autoMapInputData"
      },
      "id": "5cd0c5d9-9a59-4713-a724-438c44e74737",
      "name": "InsertData",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        780,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xHU6641p7HFQw55Y",
          "name": "[prod] Supabase | On hold"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sendDataToSupabase",
        "options": {}
      },
      "id": "25263cb7-44f5-49a3-b6c7-14c08652742d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        380,
        400
      ],
      "webhookId": "8cecffbf-7fba-4f64-af68-c2a4158530c8"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-29T13:40:47.488Z",
      "updatedAt": "2024-10-29T13:40:47.488Z",
      "id": "FViUlsSlXzSMnZ07",
      "name": "SUPABASE"
    },
    {
      "createdAt": "2024-12-16T15:50:17.549Z",
      "updatedAt": "2024-12-16T15:50:17.549Z",
      "id": "90BsZzaKRkurBY1q",
      "name": "Prod"
    },
    {
      "createdAt": "2025-02-05T19:30:14.324Z",
      "updatedAt": "2025-02-05T19:30:14.324Z",
      "id": "b4EXbYR7C8wiST8C",
      "name": "DB"
    },
    {
      "createdAt": "2025-01-13T11:36:13.623Z",
      "updatedAt": "2025-01-13T11:36:13.623Z",
      "id": "wZoAgWuZlTPnW7K2",
      "name": "Deprecated"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-13T15:33:39.368Z",
  "versionId": "ef97568b-920c-4115-8da1-e323aee65f3f"
}