workflows/2024/10/XaRwwwCwXPQbbUSi.json
{
  "active": true,
  "connections": {
    "formatMessage2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "structureMessage": {
      "main": [
        [
          {
            "node": "formatMessage2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "structureMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-08T19:02:57.452Z",
  "id": "XaRwwwCwXPQbbUSi",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[prod] - Análise crítica | 4 - Acordos Internacionais",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "1f5032a3-3523-409e-91aa-e0cade0465fd",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1800,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d042684-e288-47e4-8362-7867fbcccfe4",
              "name": "=NCM",
              "value": "={{ $('structureMessage').item.json.NCM }}",
              "type": "string"
            },
            {
              "id": "009162b6-503f-4e2a-bf76-a489575b1d4f",
              "name": "peso_bruto_estimado",
              "value": "={{ $('structureMessage').item.json.Peso_bruto_estimado }}",
              "type": "string"
            },
            {
              "id": "45840199-ce95-4dab-95e7-2fe6ed0ccb92",
              "name": "M3 estimada/quantidade de volumes e dimensões",
              "value": "={{ $('structureMessage').item.json.M3_estimada_quantidade_volumes_dimensoes }}",
              "type": "string"
            },
            {
              "id": "173088ac-d7d2-4913-956c-aa72ed035438",
              "name": "pais_origem_fabricacao",
              "value": "={{$('structureMessage').item.json['País de origem/fabricação']}}",
              "type": "string"
            },
            {
              "id": "f3389d5d-accb-47bd-bc2e-dd79a4ecfba8",
              "name": "pais_embarque",
              "value": "={{ $('structureMessage').item.json.País_embarque }}",
              "type": "string"
            },
            {
              "id": "b72a6b03-82f1-4d9a-926b-e3ab3629c91f",
              "name": "estado_importador",
              "value": "={{ $('structureMessage').item.json.Estado_Importador }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ec0b8799-a18d-43b1-a6c6-caa14da28dae",
      "name": "formatMessage2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const stringJson = JSON.parse($json.body);\n\nconst regex = /origem/i;\n\nfor (const key in stringJson) {\n  if (regex.test(key)) {\n    stringJson['País de origem/fabricação'] = stringJson[key];\n  }\n}\n\nreturn stringJson;"
      },
      "id": "6cd542a0-3827-42bd-bf3a-673d4e9381ab",
      "name": "structureMessage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.gov.br/siscomex/pt-br/acordos-comerciais/acordos-comerciais",
        "options": {}
      },
      "id": "eeb99cf9-a13e-43bc-9da3-2e4b53a20348",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        460
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "cssSelector": "#a15b3e4d-01ff-459e-bce7-ad4264d6e5cd > div > table > tbody > ",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "24b562c7-97f8-468e-a309-74ddaf67e9fa",
      "name": "HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1260,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "258931eb-ff93-4264-a7b6-2dbcd9c85cc4",
              "name": "output",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fdfbea99-3633-4c52-a6d9-5d319d5adc6b",
      "name": "Set output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1640,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flowise.interseas-caprover.startse.com/api/v1/prediction/9db89227-5787-4db3-a11a-d0f549303f29",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "=Pais_de_origem: {{ $('formatMessage2').item.json.pais_origem_fabricacao }}\n\nDados a serem analisados:\n{{ $('HTML').all().toJsonString()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "73372cb4-8081-46e9-b8d9-0a56d14f135a",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        460
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "criticalAnalysisFourthStep",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "02b72255-eb2a-4de6-9c6a-e4d1aed46212",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        460,
        460
      ],
      "webhookId": "fe652ded-dbe3-47f4-9456-4bb4cd2b43e1"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-12-16T15:50:17.549Z",
      "updatedAt": "2024-12-16T15:50:17.549Z",
      "id": "90BsZzaKRkurBY1q",
      "name": "Prod"
    },
    {
      "createdAt": "2025-02-05T19:24:04.517Z",
      "updatedAt": "2025-02-05T19:24:04.517Z",
      "id": "QjzCPV3nhLBek2xR",
      "name": "Análise Crítica"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-14T11:45:49.190Z",
  "versionId": "f09634c0-b9c2-420f-b55b-8047b360daf6"
}