workflows/2024/12/udu6iquA6HFFnZhq.json
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-04T16:54:48.208Z",
  "id": "udu6iquA6HFFnZhq",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[prod] - Banco de Dados | Get Chat ID For History [Deprecated]",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "20dce238-4153-496d-a8ec-aa754473f934",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1220,
        120
      ]
    },
    {
      "parameters": {
        "url": "https://kfsbysglomslqkakspfj.supabase.co/rest/v1/chats",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "agent_flow",
              "value": "=eq.{{ $json.body.flow }}"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtmc2J5c2dsb21zbHFrYWtzcGZqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczMTA4NTM0NCwiZXhwIjoyMDQ2NjYxMzQ0fQ.mPoyHkH8MRr2r5H5cSRMrhXe4CG4sEvpjhtLjfA9BOA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtmc2J5c2dsb21zbHFrYWtzcGZqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczMTA4NTM0NCwiZXhwIjoyMDQ2NjYxMzQ0fQ.mPoyHkH8MRr2r5H5cSRMrhXe4CG4sEvpjhtLjfA9BOA"
            }
          ]
        },
        "options": {}
      },
      "id": "0b2fca3a-6a5c-4776-820c-9561210c078b",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        120
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetchChatIdsForFlow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8063912b-b059-4b5d-a079-1513fe1df3ee",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        760,
        120
      ],
      "webhookId": "919988c0-20cc-46ea-b2f8-c37b6e32cd6c"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-29T13:40:47.488Z",
      "updatedAt": "2024-10-29T13:40:47.488Z",
      "id": "FViUlsSlXzSMnZ07",
      "name": "SUPABASE"
    },
    {
      "createdAt": "2024-12-16T15:50:17.549Z",
      "updatedAt": "2024-12-16T15:50:17.549Z",
      "id": "90BsZzaKRkurBY1q",
      "name": "Prod"
    },
    {
      "createdAt": "2025-02-04T12:57:49.230Z",
      "updatedAt": "2025-02-04T12:57:49.230Z",
      "id": "wtZEmNqNNLEIK7tp",
      "name": "SUPABASE - Manual"
    },
    {
      "createdAt": "2025-02-05T19:30:14.324Z",
      "updatedAt": "2025-02-05T19:30:14.324Z",
      "id": "b4EXbYR7C8wiST8C",
      "name": "DB"
    },
    {
      "createdAt": "2025-01-13T11:36:13.623Z",
      "updatedAt": "2025-01-13T11:36:13.623Z",
      "id": "wZoAgWuZlTPnW7K2",
      "name": "Deprecated"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-13T15:33:26.812Z",
  "versionId": "71e28302-e061-49c8-94d0-1562a909c15b"
}