workflows/2024/11/JCjqKXKSNEJeNF30.json
{
  "active": true,
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET chats_documents": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET documents": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "GET chats_documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-04T18:23:10.926Z",
  "id": "JCjqKXKSNEJeNF30",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[prod] - Banco de Dados | Get Documents By Chat ID",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "1610e839-7a97-4dc0-bcd5-c1b93832af12",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1840,
        -60
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9334c7fc-52af-49f3-8b0d-8d130842c34e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1160,
        120
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chats_documents",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').first().json.body.chatId }}"
            }
          ]
        }
      },
      "id": "b5c95481-5832-4eb5-a2a5-5ddaa72eead0",
      "name": "GET chats_documents",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        980,
        120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "xHU6641p7HFQw55Y",
          "name": "[prod] Supabase | On hold"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "documents",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.document_id }}"
            }
          ]
        }
      },
      "id": "5c9fcf7b-be25-4674-9403-9f8d204e4561",
      "name": "GET documents",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1860,
        140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "xHU6641p7HFQw55Y",
          "name": "[prod] Supabase | On hold"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Objeto para armazenar a maior versão de cada nome de documento\nconst latestDocuments = {};\n\n// Primeiro loop: Identificar a maior versão de cada file_name\nfor (const item of $input.all()) {\n  const document = item.json;\n  const file_name = document.file_name?.replace(/\\s+/g, ' ').trim();  // Normaliza o nome do arquivo removendo espaços extras\n  const version = document.version;\n\n  // Armazena o documento se ainda não existir ou se a versão atual for maior\n  if (!latestDocuments[file_name] || latestDocuments[file_name].version < version) {\n    latestDocuments[file_name] = document;\n  }\n}\n\n// Converter o objeto para um array com apenas os documentos de maior versão\nconst finalDocuments = Object.values(latestDocuments);\n\n// Retorna a lista final com apenas os documentos com a maior versão\nreturn finalDocuments;"
      },
      "id": "4b1bb16f-2532-4c48-86d9-b712f0e770cf",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -60
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetchDocumentsByChatId",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "76c7eb3b-0fd7-4ab0-a297-c4a1c11439a5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        760,
        120
      ],
      "webhookId": "316a36c4-f385-47fa-bf23-4a0faed5e1f2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8730fa66-bb95-4e70-aa15-ecdbbee9e6b1",
              "leftValue": "={{ $input.first().json.keys().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1d12bd3-cb3a-478b-addf-979bc67c621a",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1500,
        -60
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "3ef01114-92b3-4655-b53a-ce50052cb431",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1840,
        -240
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-29T13:40:47.488Z",
      "updatedAt": "2024-10-29T13:40:47.488Z",
      "id": "FViUlsSlXzSMnZ07",
      "name": "SUPABASE"
    },
    {
      "createdAt": "2024-12-16T15:50:17.549Z",
      "updatedAt": "2024-12-16T15:50:17.549Z",
      "id": "90BsZzaKRkurBY1q",
      "name": "Prod"
    },
    {
      "createdAt": "2025-02-05T19:30:14.324Z",
      "updatedAt": "2025-02-05T19:30:14.324Z",
      "id": "b4EXbYR7C8wiST8C",
      "name": "DB"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-05T19:30:42.211Z",
  "versionId": "2214a544-f390-4d19-92d3-6115585f70e7"
}