workflows/2024/11/PlkDfQqzjYASHQAS.json
{
  "active": true,
  "connections": {
    "RenameChatTitle": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "RenameChatTitle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-11T18:47:40.648Z",
  "id": "PlkDfQqzjYASHQAS",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[prod] - Banco de Dados | Update Chat Name",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "12ac2c72-0777-42fe-8390-0aa985d701b5",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1180,
        120
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "chats",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.chatId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_name",
              "fieldValue": "={{ $json.body.chatName }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "id": "9c82a384-258c-49c1-90e3-387c5329c221",
      "name": "RenameChatTitle",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "xHU6641p7HFQw55Y",
          "name": "[prod] Supabase | On hold"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sendUpdateChatRequest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "12dda9bb-3839-49f9-9a41-73b6b4502906",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        760,
        120
      ],
      "webhookId": "7173df3e-d9de-4f8b-aba1-c2c4f4479a52"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-29T13:40:47.488Z",
      "updatedAt": "2024-10-29T13:40:47.488Z",
      "id": "FViUlsSlXzSMnZ07",
      "name": "SUPABASE"
    },
    {
      "createdAt": "2024-12-16T15:50:17.549Z",
      "updatedAt": "2024-12-16T15:50:17.549Z",
      "id": "90BsZzaKRkurBY1q",
      "name": "Prod"
    },
    {
      "createdAt": "2025-02-05T19:30:14.324Z",
      "updatedAt": "2025-02-05T19:30:14.324Z",
      "id": "b4EXbYR7C8wiST8C",
      "name": "DB"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-05T19:32:06.511Z",
  "versionId": "6f9a44c7-76a0-4db6-897f-665bf42a1d01"
}