workflows/2024/11/VPN3uLOQqCF7yafF.json
{
  "active": true,
  "connections": {
    "Supabase": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-06T13:26:08.308Z",
  "id": "VPN3uLOQqCF7yafF",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[prod] - Banco de Dados | Get Chats-Documents Relation",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chats_documents",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.chatId }}"
            },
            {
              "keyName": "document_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.documentId }}"
            }
          ]
        }
      },
      "id": "e962a1f7-8b14-4923-942b-117f3d789c5b",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        780
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "xHU6641p7HFQw55Y",
          "name": "[prod] Supabase | On hold"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62532cb4-d5d1-4e9c-bff4-2df5504035f4",
              "leftValue": "={{ $('Webhook1').item.json.body.chatId }}",
              "rightValue": "={{ $json.chat_id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f149e022-b05e-4d4d-adc7-38c1e140a2a0",
              "leftValue": "={{ $('Webhook1').item.json.body.documentId }}",
              "rightValue": "={{ $json.document_id }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f75da20b-6ac0-4b30-b464-37f35fd1bc84",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        780
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "true",
        "options": {}
      },
      "id": "eb6762be-1313-4259-a324-d356556f61ec",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        680
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "false",
        "options": {}
      },
      "id": "0f6c6be3-0f7d-4229-aa72-4f95ec2018f8",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        920
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetchChatDocumentRelation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "94f69588-a203-4c1d-a69d-9c9c77d2c342",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        280,
        780
      ],
      "webhookId": "9c6290c7-dc5e-437e-93cb-16b6e27bef36"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-29T13:40:47.488Z",
      "updatedAt": "2024-10-29T13:40:47.488Z",
      "id": "FViUlsSlXzSMnZ07",
      "name": "SUPABASE"
    },
    {
      "createdAt": "2024-12-16T15:50:17.549Z",
      "updatedAt": "2024-12-16T15:50:17.549Z",
      "id": "90BsZzaKRkurBY1q",
      "name": "Prod"
    },
    {
      "createdAt": "2025-02-05T19:30:14.324Z",
      "updatedAt": "2025-02-05T19:30:14.324Z",
      "id": "b4EXbYR7C8wiST8C",
      "name": "DB"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-05T19:31:41.935Z",
  "versionId": "451f66f6-9a22-4dc6-a513-d931d7eddd95"
}