workflows/2024/11/ZTFRq7S6kbfwyZKD.json
{
  "active": true,
  "connections": {
    "DeleteChatId": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "DeleteChatId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-11T13:26:39.267Z",
  "id": "ZTFRq7S6kbfwyZKD",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[prod] - Banco de Dados | Delete Chat ID From History",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "6b92510b-a400-41df-8ee8-8b869a2184a9",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1180,
        120
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "chats",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.chatId }}"
            }
          ]
        }
      },
      "id": "9c95abae-079e-4f4f-bbd0-d8538c5deb35",
      "name": "DeleteChatId",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "xHU6641p7HFQw55Y",
          "name": "[prod] Supabase | On hold"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sendDeleteChatRequest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "14eb7977-aaa5-436c-a457-6524e4fd2dc1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        760,
        120
      ],
      "webhookId": "e291e88b-a4cf-4161-ad91-4564095c33cd"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-29T13:40:47.488Z",
      "updatedAt": "2024-10-29T13:40:47.488Z",
      "id": "FViUlsSlXzSMnZ07",
      "name": "SUPABASE"
    },
    {
      "createdAt": "2024-12-16T15:50:17.549Z",
      "updatedAt": "2024-12-16T15:50:17.549Z",
      "id": "90BsZzaKRkurBY1q",
      "name": "Prod"
    },
    {
      "createdAt": "2025-02-05T19:30:14.324Z",
      "updatedAt": "2025-02-05T19:30:14.324Z",
      "id": "b4EXbYR7C8wiST8C",
      "name": "DB"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-05T19:32:37.507Z",
  "versionId": "8e31f5c1-8fe2-4274-883b-731efcb7ef00"
}