workflows/OPS-Atendimento - WPP/OPS-Atendimento - WPP.json
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-22T18:59:47.738Z",
  "id": "n0pDhv6PGUZI4023",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "OPS/Atendimento - WPP",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai-labs.startse.com/api/v1/prediction/2d938b6c-2748-49c6-aecf-30c8605d5d6d",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n    \"question\": \"{{ $json.properties.subject }} - {{ $json.properties.dash_produto }}\",\n    \"overrideConfig\": {\n        \"sessionId\": \"{{ $json.body.phone }}\",\n        \"returnSourceDocuments\": true\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        -300
      ],
      "id": "c16ee301-2a7f-4b53-ad0a-7738522f1b1d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DD8096218395056E6C5DE26AC33667E/token/6ADC16BC2F7B12C2ED3C8BED/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "F882f425f5d0f44e39a7d9cf532bd8fffS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.chatId }}"
            },
            {
              "name": "message",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        -300
      ],
      "id": "6152aa49-8345-4376-98c0-a5d59c5bef5f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        580,
        -300
      ],
      "id": "bfad9a80-eb7c-4b51-a0e6-8689190f6516",
      "name": "Workflow Input Trigger"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-test",
  "repo_owner": "VitorNakagawaL",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-28T14:01:26.000Z",
  "versionId": "7ce3876b-f4a3-464c-896d-4e60be711f34"
}